<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wks.calorieapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".activities.CalorieApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.CameraActivity"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.ResultsActivity"
            android:label="@string/title_activity_results"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activities.JournalActivity"
            android:label="@string/title_activity_journal"
            android:screenOrientation="portrait">
            
        </activity>
        
        <activity
            android:name=".activities.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
        
        <activity
            android:name=".activities.JournalEntryActivity"
            android:label="@string/title_activity_journal_entry"
            android:screenOrientation="portrait"
            ></activity>
        
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"></activity>
        
        <activity 
            android:name=".activities.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait"></activity>
        
        <activity 
            android:name=".activities.FullScreenImageActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:screenOrientation="portrait"></activity>
        
        <activity
            android:name=".activities.StartActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
   

</manifest>